lottie-player{
    width: 100%;
    opacity: 0.9;
}

#hero{
    min-height: 100vh;
    display: flex;

}

.hero-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.wave-bg{
    position: absolute;
    top: 70%;
    width: 100%;
    z-index: -1;
}

#about lottie-player{
   width: 10rem;
   height: 10rem;
}



#about .service-short {
    border-left: .1rem solid var(--light-text);
    padding-left: 3rem;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#about .logos{
    display: flex;
    gap: 4rem;
}

.ecommerce-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 0!important;
}

.images{
    width: 100%;
    
}


#about-us{
  width: 100%;
}




  .ecom-images{
    width: 100%;
    border-radius: 10px;
  }



  .why-card img{
    margin-bottom: 20px;
    
  }

  .nav-cutom-height{
    height: 73px;
  }

  .nav-border-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid white;
  }
  
  .navbar-toggler{
    background-color: var(--main-orange);
  }

  @media (max-width:1100px){
    
      .why-choose-us-grid {
        grid-template-areas:
        "why why"
            "expertise desk_image"
            "tailored desk_image"
            "innovation committed";
            gap: 0;
            grid-template-columns: repeat(2, 1fr); /* Ensures equal column widths */    }

    .why, .desk_image, .expertise, .tailored, .innovation, .committed {
      width: 100%; /* Full width for each item */
  }

      body > section:nth-child(4) > div > div.desk_image > img{
        width: 100%;
      }

      .nav-cutom-height{
        height: 100%;
      }
  
      .nav-border-left{
        border: none;
      }

      .ecom-images{
        width: 60%;
      }
    
  }


  @media (max-width:600px){
    .why-choose-us-grid{
        display: grid;
        grid-template-areas:
         'why why'
          'desk_image desk_image'
           "expertise tailored"
          "committed innovation";
    
      }

 

  }






  /* Assign grid-area to each item */
.expertise { grid-area: expertise; }
.tailored { grid-area: tailored; }
.why { grid-area: why; }
.innovation { grid-area: innovation; }
.committed { grid-area: committed; }
.desk_image {
    grid-area: desk_image;
    grid-column: span 2; /* Ensure it spans across two columns */
    width: 100%; /* Ensure it fills the designated area */
    height: auto; /* Maintain aspect ratio */
}