lottie-player{
    width: 100%;
    opacity: 0.9;
}

#hero{
    min-height: 100vh;
    display: flex;

}

.hero-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wave-bg{
    position: absolute;
    top: 70%;
    width: 100%;
}

#about lottie-player{
   width: 10rem;
   height: 10rem;
}

#about .service-short {
    border-left: .1rem solid var(--main-gray);
    padding-left: 3rem;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#about .logos{
    display: flex;
    gap: 4rem;
}

.ecommerce-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 0!important;
}

.images{
    width: 100%;
    
}

.why-choose-us-grid{
    display: grid;
    grid-template-areas:
      "expertise desk_image desk_image why why"
      "tailored desk_image desk_image innovation committed";
  
  }
  .expertise {
    grid-area: expertise;
  }

  .tailored {
    grid-area: tailored;
  }

  .why {
    grid-area: why;
  }

  .innovation {
    grid-area: innovation;
  }

  .committed {
    grid-area: committed;
  }

  .desk_image {
    grid-area: desk_image;
  }



  .why-card img{
    margin-bottom: 20px;
    
  }


  @media (max-width:1100px){
    .why-choose-us-grid{
        display: grid;
        grid-template-areas:
         'why why'
          'desk_image desk_image'
           "expertise tailored"
          "innovation committed";
      
      }

      body > section:nth-child(4) > div > div.desk_image > img{
        width: 100%;
      }
  }